<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>

    <style></style>
  </head>
  <body class="bg-purple-100">
    <div class="m-8">
      <h1 class="text-3xl mb-8">Listagem de users</h1>
      <table>
        <td><%= data.name %></td>
        <td><%= data.email %></td>
      </table>
    </div>
  </body>
</html>
